.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 30px;
  margin-left: 5px;
  padding: 20px;
}
